.clicked{
    background-color: rgba(14, 122, 129, 0.1);
}

.shadow-t-l-r {
  --tw-shadow: -1px -1px 2px rgb(0 0 0 / 0.05), 1px -1px 2px rgb(0 0 0 / 0.05); /* left & top + right & top */
  --tw-shadow-colored: -1px -1px 2px var(--tw-shadow-color), 1px -1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
              var(--tw-ring-shadow, 0 0 #0000), 
              var(--tw-shadow);
}
